:root{
    background: rgb(10, 17, 17);
    font-size: 1rem;
    color: #fff;

    text-align: center;

    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

h1{
    font-size: 3rem;
    border: rgb(91, 154, 154);
    box-shadow: rgb(91, 154, 154) 0rem 0rem 0.5rem;
    border-radius: 10px;
    border-style: solid;
}

.button-div{
    position: fixed;
    margin: 1%;
    width: 97%;
    justify-content: center;
    bottom: 0%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items:  center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background: rgb(56, 94, 94);
    font-size: 2rem;
    border: hidden;
    color: #fff;
    box-shadow: rgb(46, 78, 78) 0px 0.15rem 0.5rem, rgb(46, 78, 78) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
}

.button:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

.card {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items:  center;
    /*background: rgb(56, 94, 94);*/
    font-size: 3rem;
    color: #fff;
    box-shadow: 10px -10px rgb(46, 78, 78);
    height: 100%;
    width: 50%;
    transition: all 500ms;
    overflow: hidden;

    margin: 15%;

    background-image: url(./glass-ball.svg);
    border-radius: 110px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: 0px 0px 15px rgb(79, 133, 133);
    border-radius: 110px;

    transform: translateY(-3px) scale(1.1);
 }

.num-grid{
    margin: 1%;
    display: grid;
    gap: 0.5rem;
    row-gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}